<table class="border collapsed padded">
	<tr>
		<th>Categories</th>
		<th>Note</th>
	</tr>
	<% item.categoryItems.each do |categoryItem| %>
		<tr>
			<td><%= link_to categoryItem.category.name, category_path(categoryItem.category) %></td>
			<td><%= categoryItem.note %> <%= link_to 'edit', edit_category_item_path(categoryItem) %></td>
		</tr>	
	<% end %>
</table>