<h3>This will clarify how the <%= @category_item.item.bhsku %> relates to the <%= @category_item.category.name %> category</h3>

<%= render partial: 'categories/category_item_note_form', locals: {:category_item => @category_item} %>