<div class="basic_item">
	<%= render partial: 'items/item', locals: {:item => categorized_item.item, :category => categorized_item.category} %>

	<%= render partial: 'categories/category_item_note_form', locals: {:categorized_item => categorized_item} %>
</div>
