<h2>Q&A</h2>

<div class="question_and_answers">
	<h3>Q: <%= question.content %></h3>

	<% if question.answers.count > 0 %>
		<%= render partial: 'answer', collection: question.answers, as: :answer %>
	<% else %>
			<span class="not_yet_answered">not yet answered</span>
	<% end %>
</div>