<div class="question_and_answers">
	<b>Q: <%= question.content %></b>
		<% if question.answers.count > 0 %>
			<details>
				<summary><%=  "#{question.answers.count} answers available" %></summary>
				<%= render partial: 'answer', collection: question.answers, as: :answer %>
			</details>
		<% else %>
			 <div>not yet answered</div>
		<% end %>
</div>