<h1>Item Page</h1>

<div class="full_item">
	<!-- BASIC INFO -->
	<%= render partial: 'item', locals: {:item => @item} %>

	<!-- INCLUDES Q&A IMAGE BULLET-POINT AND COMPARISONS -->
	<%= render partial: 'extended_item', locals: {:item => @item} %>
</div>