.field_with_errors label {
  border: 2px solid tomato;
}

.form {
	display: inline-block
}

.form input[type=text] {
	width: 100%
}

.form input[type="submit"] {
    border-radius: 10px;
    border: none;
    box-shadow: none;
    font-family: inherit;
    font-size: 1.5em!important;
    width: 100%;
    background: darkgrey;
    color: white;
    cursor:pointer
}

.camouflage {
    background: inherit;
    border:none;
}
