// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.basic_item {
	margin: 5px;
	padding: 5px;
	border-bottom: 1px dotted grey;
}

