body {background-color: #dddddd}

.low_profile {
	font_size: 90%;
	opacity: 0.8;
}

.aligntop {
	vertical-align: top;
}
.alignmiddle {
	vertical-align: middle;
}


.green_text {
	color: green;
}

.orange_text {
	color: tomato
}

.steelblue_text {
	color: steelblue;
}

.grey_text {
	color: grey;
}

.brown_text {
	color: brown;
}

.small_image {
	width: 50px;
}