<h1><%= @category.name %> Category Page</h1>

<%= render partial: 'category', locals: {:category => @category} %>

<h2>Items</h2>
<div class="basic_only">
	<%= render partial: 'items/categorized_item', collection: @category.categoryItems, as: :categorized_item %>
</div>

<h3>add item</h3>
<%= render partial: 'items/category_item_form', locals: {:category => @category} %>

