<table class="border collapsed padded">
	<tr>
		<th>bullet-points added</th>
		<th>questions answered</th>
	</tr>
	<tr>
		<td><%= user_bullets.count %> <%= link_to 'view', stats_bullets_path %></td>
		<td><%= user_answers.count %> <%= link_to 'view', stats_answers_path %></td>
	</tr>
</table>