<h3>Bullet-points Added</h3>

<table class="border collapsed padded">
	<tr>
		<th>Target</th>
		<th>Bullet-point</th>
	</tr>
	<% @bullets.each do |bullet| %>
		<tr>
			<td><%= link_to bullet.bulletable.title, bullet_parent_path(bullet) %></td>
			<td><%= bullet.nugget %></td>
		</tr>
	<% end %>
</table>